div img{
    background-color: #4ea0ff;
    
    
}

.parte-alta{
    display: inline-block;
} 
tr td{
    size: 33%;
}

table{
    text-align: left;
}

tr th{
    background-color: #20a9e5;
    color: white;
}

tr:nth-child(odd) {
    background-color: #b1e5f2;
  }

.suggestion{
    color: grey;
}

.primo{
    color: rgb(255, 255, 255);
    position: relative; 
    text-align: left;

      
}
.centered {
    position: absolute;
    top: 8%;
    left: 4.5%;
    transform: translate(-50%, -50%);
    font-size: 19px;
  }